In [1]:
import pandas as pd
import numpy as np

In [2]:
heart = pd.read_csv('Heart.csv')

In [3]:
heart.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

# Shape of Dataset

In [4]:
heart.shape

(303, 15)

In [6]:
# Size of data
heart.size

4545

# Datatype of Each Column

In [5]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  303 non-null    int64
 1   Age         303 non-null    int64
 2   Sex         303 non-null    int64
 3   ChestPain   303 non-null    object
 4   RestBP      303 non-null    int64
 5   Chol        303 non-null    int64
 6   Fbs         303 non-null    int64
 7   RestECG     303 non-null    int64
 8   MaxHR       303 non-null    int64
 9   ExAng       303 non-null    int64
 10  Oldpeak     303 non-null    float64
 11  Slope       303 non-null    int64
 12  Ca          299 non-null    float64
 13  Thal        301 non-null    object
 14  AHD         303 non-null    object
dtypes: float64(2), int64(10), object(3)
memory usage: 35.6+ KB

In [5]:
heart.dtypes

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

# Find Missing Values

In [6]:
heart.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

# Mean age of Patient

In [7]:
heart['Age'].mean()

54.43894389438944

# Find out zeros

In [7]:
(heart==0).sum()

Unnamed: 0      0
Age             0
Sex            97
ChestPain       0
RestBP          0
Chol            0
Fbs           258
RestECG       151
MaxHR           0
ExAng         204
Oldpeak        99
Slope           0
Ca            176
Thal            0
AHD             0
dtype: int64

# Training and Testing Dataset
Now extract only Age, Sex, ChestPain, RestBP, Chol. Randomly divide dataset in training
(75%) and testing (25%).

In [9]:
heart[['Age','Sex','ChestPain','RestBP','Chol']]

     Age  Sex     ChestPain  RestBP  Chol
0     63    1       typical     145   233
1     67    1  asymptomatic     160   286
2     67    1  asymptomatic     120   229
3     37    1    nonanginal     130   250
4     41    0    nontypical     130   204
..   ...  ...           ...     ...   ...
298   45    1       typical     110   264
299   68    1  asymptomatic     144   193
300   57    1  asymptomatic     130   131
301   57    0    nontypical     130   236
302   38    1    nonanginal     138   175

[303 rows x 5 columns]

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
x = heart[['Age','Sex','ChestPain','RestBP']]
y = heart[[]]

In [5]:
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.25)

In [6]:
X_train

     Age  Sex     ChestPain  RestBP
221   54    0    nonanginal     108
187   66    1    nontypical     160
28    43    1  asymptomatic     150
106   59    1  asymptomatic     140
12    56    1    nonanginal     130
..   ...  ...           ...     ...
80    45    1  asymptomatic     104
74    44    1  asymptomatic     110
30    69    0       typical     140
138   35    1  asymptomatic     120
82    39    1    nonanginal     140

[242 rows x 4 columns]

In [7]:
y_train

Empty DataFrame
Columns: []
Index: [221, 187, 28, 106, 12, 43, 6, 58, 226, 264, 40, 54, 218, 227, 240, 65, 166, 89, 142, 173, 242, 7, 161, 252, 190, 114, 238, 115, 201, 20, 234, 53, 213, 130, 254, 150, 200, 102, 296, 155, 139, 88, 77, 288, 129, 243, 5, 178, 202, 31, 220, 279, 87, 225, 262, 149, 96, 0, 171, 229, 210, 250, 14, 76, 127, 198, 258, 32, 41, 261, 133, 81, 21, 207, 57, 257, 196, 85, 8, 236, 215, 214, 297, 1, 39, 157, 109, 90, 145, 26, 18, 259, 260, 94, 263, 67, 146, 2, 256, 78, ...]

[242 rows x 0 columns]

In [8]:
print(len(X_train))

242

In [9]:
print(len(X_test))

61